<form [formGroup]="coversionForm" (ngSubmit)="onClickSubmit()">
  <div class="card text-center w-50 mx-auto mt-5">
    <div class="card-header bg-primary">
      <h3>Weight (Mass) Conversion Calculator</h3>
    </div>

    <div class="card-body">
      <div class="form-group row d-flex justify-content-center align-items-center">
        <label for="conversionvalue" class="col-form-label col-sm-2 text-right">value:</label>
        <input type="text" formControlName="conversionvalue" />
      </div>
     
      <!--<div class="form-group row d-flex justify-content-center align-items-center">
    <label for="conversionfrom" class="col-form-label col-sm-2 text-right">From:</label>
    <select name="input" formControlName="conversionfrom">
      <option value="kg">kilogram (kg)</option>
      <option value="pound">pound</option>
    </select>
  </div>-->
      <div class="form-group row d-flex justify-content-center align-items-center">
        <label for="conversionto" class="col-form-label col-sm-2 text-right">To:</label>
        <select name="input" formControlName="conversionto">
          <option value="kg">pound to kilogram (kg)</option>
          <option value="pound">kilogram (kg) to pound</option>
        </select>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary mr-2">Convert</button>
    </div>

  </div>
</form>
<label>Result : {{OutputValue}}</label>
