<form [formGroup]="coversionForm" (ngSubmit)="onClickSubmit()">
  <div class="card text-center w-50 mx-auto mt-5">
    <div class="card-header bg-primary">
      <h3>Temperature Conversion</h3>
    </div>

    <div class="card-body">
      <div class="form-group row d-flex justify-content-center align-items-center">
        <label for="conversionvalue" class="col-form-label col-sm-2 text-right">Value:</label>
        <input type="text" formControlName="conversionvalue" />
      </div>

      <div class="form-group row d-flex justify-content-center align-items-center">
        <label for="conversionto" class="col-form-label col-sm-2 text-right">From:</label>
        <select name="input" formControlName="conversionfrom">
          <option value="Celsius">Celsius</option>
          <option value="Fahrenheit">Fahrenheit</option>
          <option value="Kelvin">Kelvin</option>
        </select>
      </div>

      <div class="form-group row d-flex justify-content-center align-items-center">
        <label for="conversionto" class="col-form-label col-sm-2 text-right">To:</label>
        <select name="input" formControlName="conversionto">
           <option value="Celsius">Celsius</option>
           <option value="Fahrenheit">Fahrenheit</option>
           <option value="Kelvin">Kelvin</option>
        </select>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary mr-2">Convert</button>
    </div>
    <label>Result : {{OutputValue}}</label>

  </div>
</form>

