<h1>Unit Convertor Application</h1>


<div class="row d-flex justify-content-left align-items-left">
  <a [routerLink]="['/unit-convert']" class="btn btn-info col-xs-2" role="button">Weight Conversion</a>

</div><div><br></div>

<div class="row d-flex justify-content-left align-items-left">
  <a [routerLink]="['/length-convert']" class="btn btn-primary col-xs-2" role="button">Length Conversion</a>
</div>
<div><br></div>
<div class="row d-flex justify-content-left align-items-left">
  <a [routerLink]="['/temperature-convert']" class="btn btn-success col-xs-2" role="button">Temperature Conversion </a>
</div>
<div><br></div>
<div class="row d-flex justify-content-left align-items-left">
  <a [routerLink]="['/volume-convert']" class="btn btn-info col-xs-2" role="button">Volume Conversion</a>
</div>
<div><br></div>
<div class="row d-flex justify-content-left align-items-left">
  <a [routerLink]="['/area-convert']" class="btn btn-warning col-xs-2" role="button">Area Conversion</a>
</div><div><br></div>
